.container {
    display: flex;
    justify-content: center;
}

main {
    display: block;
    background-color: #deb887;
    padding: 20px;
    max-width: 600px;
    min-width: 500px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}